---
import Badge from '@/components/badge.astro'
import devsync from '@/devsync/devsync'
import { defaultLang } from '@/devsync/devsync'
import LangSwitcher from '@/sections/lang-switcher.astro'
import ThemeSwitcher from '@/sections/theme-switcher.astro'

const lang = (Astro.params.lang || defaultLang).toLowerCase()
const profile = devsync[lang] ?? devsync[defaultLang]
---

<section class="relative m-auto flex h-screen w-full max-w-5xl items-center justify-center">
  <div class="absolute left-0 top-0 flex w-full items-center justify-end gap-5 px-5 pt-10 lg:px-0">
    <LangSwitcher currentLang={lang} class="mb-0" />
    <ThemeSwitcher />
  </div>
  <main class="flex flex-col items-center justify-center gap-5 lg:flex-row">
    <div class="lg:order-0 order-1 w-full px-10 text-center lg:flex-1 lg:text-start">
      <h1 class="mb-10 text-3xl lg:text-6xl">{devsync.name}</h1>
      <h2 class="text-accent mb-8 text-xl lg:text-2xl">{profile.jobTitle}</h2>
      <p class="text-text/80 mb-13 text-balance text-sm lg:text-xl">{profile.description}</p>
      {
        devsync.socialMedia && devsync.socialMedia.length > 0 && (
          <ul class="flex w-full items-center justify-center gap-3 pl-0 lg:w-fit lg:justify-start">
            {devsync.socialMedia.map((social) => (
              <Badge
                name={social.name}
                url={social.url}
                icon={social.icon}
                bg="bg-third"
                text="text-accent"
              />
            ))}
            <Badge
              name="cv"
              url={'/CV-' + lang + '.pdf'}
              icon="/icons/cv.svg"
              bg="bg-third"
              text="text-accent"
            />
          </ul>
        )
      }
    </div>

    {
      devsync.img && devsync.img.length > 1 && (
        <div class="flex flex-1 items-center justify-center">
          <img
            src={devsync.img}
            alt={devsync.name + ' ' + profile.jobTitle}
            class="order-0 mb-10 w-60 rounded-full lg:order-1 lg:mb-0 lg:w-112.5"
            style="mask-image: radial-gradient(circle, black 50%, transparent 70%);"
            width="450"
            height="450"
            loading="eager"
          />
        </div>
      )
    }
  </main>
</section>
