---
import Badge from "@/components/badge.astro";
import devsync from "@/devsync/devsync";
import { defaultLang } from "@/devsync/devsync";
import LangSwitcher from "@/sections/lang-switcher.astro";
import ThemeSwitcher from "@/sections/theme-switcher.astro";

const lang = (Astro.params.lang || defaultLang).toLowerCase();
const profile = devsync[lang] ?? devsync[defaultLang];
---

<section
  class="relative m-auto flex min-h-screen w-full max-w-6xl items-center justify-center px-6"
>
  <div
    class="absolute left-0 top-0 flex w-full items-center justify-end gap-4 pt-8"
  >
    <LangSwitcher currentLang={lang} class="mb-0" />
    <ThemeSwitcher />
  </div>

  <main
    class="flex flex-col items-center justify-center gap-8 pb-20 lg:flex-row lg:gap-16"
  >
    <div class="lg:order-0 order-1 w-full text-center lg:flex-1 lg:text-start">
      <h1 class="mb-6 text-4xl font-bold tracking-tight lg:text-7xl">
        {devsync.name}
      </h1>
      <h2
        class="mb-6 text-xl font-medium tracking-wide lg:text-2xl text-accent"
      >
        {profile.jobTitle}
      </h2>
      <p
        class="text-text/75 mb-10 max-w-xl text-base leading-relaxed lg:text-lg lg:leading-loose"
      >
        {profile.description}
      </p>
      {
        devsync.socialMedia && devsync.socialMedia.length > 0 && (
          <ul class="flex w-full items-center justify-center gap-4 pl-0 lg:w-fit lg:justify-start">
            {devsync.socialMedia.map((social) => (
              <Badge
                name={social.name}
                url={social.url}
                icon={social.icon}
                bg="bg-second"
                text="text-main"
              />
            ))}
            <Badge
              name="cv"
              url={"/CV-" + lang + ".pdf"}
              icon="/icons/cv.svg"
              bg="bg-accent"
              text="text-main"
            />
          </ul>
        )
      }
    </div>

    {
      devsync.img && devsync.img.length > 1 && (
        <div class="lg:order-1 order-0 relative">
          <div class="absolute inset-0 animate-pulse rounded-full bg-linear-to-r from-third to-accent opacity-30 blur-3xl" />
          <div class="absolute -inset-4 rounded-full bg-linear-to-r from-third/20 to-accent/20 opacity-50" />
          <img
            src={devsync.img}
            alt={devsync.name + " " + profile.jobTitle}
            class="relative z-10 mb-8 w-48 rounded-full lg:mb-0 lg:w-80"
            style="mask-image: radial-gradient(circle, black 40%, transparent 70%);"
            width="320"
            height="320"
            loading="eager"
          />
        </div>
      )
    }
  </main>

</section>
